$pixel-size:20px;

//Colors:
$t:transparent;
//灰色，透明
$b:#000;
//浅灰
$g:#cdc9cf;
//深灰
$dg:#a09da1;
//粉色
$p:#ffa6ed;


@function to_pixel($size,$colorList){
  $shadow_str:'';
  $rows:length($colorList);
     @for $rowIndex from 1 through $rows {
       $y:$rowIndex - 1;
       $offsetY:$y * $size;
       $row:nth($colorList, $rowIndex );
       $cols:length($row);
       @for $colIndex from 1 through $cols{
         $x:$colIndex - 1;
         $offsetX:$x * $size ;
         $self_color:nth($row,$colIndex);
         
         $seprator:', ';
         @if $x==0 and $y==0 {
            $seprator:'';
         }
           $shadow_str:$shadow_str + '#{$seprator}calc(#{$x} * var(--size)) calc(#{$y} * var(--size)) #{$self_color}'
       }
    
     }
    $shadow_str:unquote($shadow_str); 
    @return $shadow_str;
}
$cat:(
  ($t,$t,$t,$b,$t,$t,$t,$t,$t,$t,$b),//1
  ($t,$t,$b,$g,$b,$t,$t,$t,$t,$b,$g,$b),//2
  ($t,$t,$b,$g,$dg,$b,$b,$b,$b,$dg,$g,$b,$t,$t,$t,$t,$t,$t,$t,$t,$b,$b),//3
  ($t,$b,$dg,$g,$g,$dg,$dg,$g,$dg,$g,$g,$dg,$b,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b),//4
  ($t,$b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$t,$t,$t,$t,$t,$t,$b,$g,$g,$b),//5
  ($b,$dg,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$dg,$b,$b,$b,$b,$t,$t,$t,$b,$dg,$b), //6
  ($b,$g,$g,$b,$g,$g,$b,$g,$g,$b,$g,$g,$g,$dg,$g,$dg,$g,$b,$t,$t,$b,$g,$b), //7
  ($b,$g,$p,$g,$g,$b,$g,$b,$g,$g,$p,$g,$g,$dg,$g,$dg,$g,$g,$b,$b,$b,$dg,$b),  //8
  ($b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$g,$b), //9
  ($b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b,$g,$b), //10
  ($b,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b), //11
  ($b,$dg,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b), //12
  ($b,$dg,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$b), //13
  ($b,$dg,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$dg,$b), //14
   ($t,$b,$dg,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$g,$dg,$b),//15
   ($t,$t,$b,$dg,$g,$dg,$dg,$g,$dg,$g,$g,$g,$dg,$g,$dg,$dg,$g,$dg,$b), //16
   ($t,$t,$t,$b,$g,$b,$b,$g,$b,$b,$b,$b,$b,$g,$b,$b,$g,$b),//17
   ($t,$t,$t,$b,$b,$t,$t,$b,$b,$t,$t,$t,$b,$b,$t,$t,$b,$b) //18
);

$cat1:(
  ($t,$t,$t,var(--outline),$t,$t,$t,$t,$t,$t,var(--outline)),//1
  ($t,$t,var(--outline),var(--body),var(--outline),$t,$t,$t,$t,var(--outline),var(--body),var(--outline)),//2
  ($t,$t,var(--outline),var(--body),var(--Highlight),var(--outline),var(--outline),var(--outline),var(--outline),var(--Highlight),var(--body),var(--outline),$t,$t,$t,$t,$t,$t,$t,$t,var(--outline),var(--outline)),//3
  ($t,var(--outline),var(--Highlight),var(--body),var(--body),var(--Highlight),var(--Highlight),var(--body),var(--Highlight),var(--body),var(--body),var(--Highlight),var(--outline),$t,$t,$t,$t,$t,$t,var(--outline),var(--body),var(--body),var(--outline)),//4
  ($t,var(--outline),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--outline),$t,$t,$t,$t,$t,$t,var(--outline),var(--body),var(--body),var(--outline)),//5
  (var(--outline),var(--Highlight),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--Highlight),var(--outline),var(--outline),var(--outline),var(--outline),$t,$t,$t,var(--outline),var(--Highlight),var(--outline)), //6
  (var(--outline),var(--body),var(--body),var(--eyes),var(--body),var(--body),var(--nose),var(--body),var(--body),var(--eyes),var(--body),var(--body),var(--body),var(--Highlight),var(--body),var(--Highlight),var(--body),var(--outline),$t,$t,var(--outline),var(--body),var(--outline)), //7
  (var(--outline),var(--body),var(--cheeks),var(--body),var(--body),var(--nose),var(--body),var(--nose),var(--body),var(--body),var(--cheeks),var(--body),var(--body),var(--Highlight),var(--body),var(--Highlight),var(--body),var(--body),var(--outline),var(--outline),var(--outline),var(--Highlight),var(--outline)),  //8
  (var(--outline),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--outline),var(--body),var(--outline)), //9
  (var(--outline),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--outline),var(--body),var(--outline)), //10
  (var(--outline),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--outline)), //11
  (var(--outline),var(--Highlight),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--outline)), //12
  (var(--outline),var(--Highlight),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--outline)), //13
  (var(--outline),var(--Highlight),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--Highlight),var(--outline)), //14
   ($t,var(--outline),var(--Highlight),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--body),var(--Highlight),var(--outline)),//15
   ($t,$t,var(--outline),var(--Highlight),var(--body),var(--Highlight),var(--Highlight),var(--body),var(--Highlight),var(--body),var(--body),var(--body),var(--Highlight),var(--body),var(--Highlight),var(--Highlight),var(--body),var(--Highlight),var(--outline)), //16
   ($t,$t,$t,var(--outline),var(--body),var(--outline),var(--outline),var(--body),var(--outline),var(--outline),var(--outline),var(--outline),var(--outline),var(--body),var(--outline),var(--outline),var(--body),var(--outline)),//17
   ($t,$t,$t,var(--outline),var(--outline),$t,$t,var(--outline),var(--outline),$t,$t,$t,var(--outline),var(--outline),$t,$t,var(--outline),var(--outline)) //18
);





#cat{
  position: relative;
  --size:#{$pixel-size};
  --outline:#{$b};
  --body:#{$g};
  --cheeks:#{$p};
  --eyes:#{$b};
  --nose:#{$b};
  --Highlight:#{$dg};
  --cat:#{to_pixel($pixel-size,$cat1)};

  width: calc(23 * var(--size));
  height: calc(18 * var(--size));
  margin: 1rem;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--size);
    height: var(--size);
    box-shadow:to_pixel($pixel-size,$cat);
  }


}